//

.ui-flex-height
  height 100vh

.ui-flex-row
.ui-flex-column
  display flex

//

.ui-flex-row
  flex-flow row nowrap

//

.ui-flex-column
  flex-flow column nowrap

//

.ui-flex-center--child
  & > *
    display flex
    justify-content center
    align-items center

.ui-flex-left-center--child
  & > *
    display flex
    justify-content flex-start
    align-items center

.ui-flex-right-center--child
  & > *
    display flex
    justify-content flex-end
    align-items center

//

.ui-flex-1x
  flex 1

.ui-flex-2x
  flex 2

.ui-flex-3x
  flex 3

.ui-flex-4x
  flex 4

.ui-flex-5x
  flex 5

//

.ui-padded-sm
  padding 8px

.ui-padded
  padding 16px

.ui-padded-md
  padding 32px

.ui-pdtb-md
  padding 32px 0
